# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

{
    # 将 HTTPS 全局端口改为 20443
    https_port 20443
}

:80 {
        # Set this path to your site's directory.
        root * /usr/share/caddy

        # Enable the static file server.
        file_server

        # Another common task is to set up a reverse proxy:
        # reverse_proxy localhost:8080

        # Or serve a PHP site through php-fpm:
        # php_fastcgi localhost:9000
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
niechao.duckdns.org {
        tls niechao158@gmail.com
        reverse_proxy 127.0.0.1:10092 {
                # 传递原始 Host 和真实 IP
                header_up Host {host}
                header_up X-Real-IP {remote_host}
                header_up X-Forwarded-For {remote_host}
                header_up X-Forwarded-Proto {scheme}
        }
}
bot-niechao.duckdns.org {
        tls niechao158@gmail.com
        reverse_proxy 127.0.0.1:10093 {
                transport http {
                        versions 1.1
                }
                header_up Host {host}
                header_up X-Real-IP {remote_host}
                header_up X-Forwarded-For {remote_host}
                header_up X-Forwarded-Proto {scheme}
                header_up +X-Signature-Ed25519 {http.request.header.X-Signature-Ed25519}
                header_up +X-Signature-Timestamp {http.request.header.X-Signature-Timestamp}
        }
}
dify-niechao.duckdns.org {
        tls niechao158@gmail.com
        reverse_proxy 127.0.0.1:3000 {
                # 传递原始 Host 和真实 IP
                header_up Host {host}
                header_up X-Real-IP {remote_host}
                header_up X-Forwarded-For {remote_host}
                header_up X-Forwarded-Proto {scheme}
        }
}